<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Unknown" />
<meta name="description" content="Beego sample app - Web IM" />
<meta name="keywords" content="Go, golang, beego, sample, Web IM">
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link rel="stylesheet" href="/static/js/jquery.mobile-1.4.5.css" /> 
<script src="/static/js/eosjs.js"></script>
<script src="/static/js/eos.client-1.0.0.js"></script> 
<script src="/static/js/jquery-1.10.1.min.js"></script> 
<script src="/static/js/jquery.mobile-1.4.5.js"></script> 
<script src="http://api.map.baidu.com/api?v=2.0&ak=I4zHw7aCGvAQu6VKFYN150Ct91HyR86F"></script>
<script src="/static/js/client-map-1.0.0.29.js"></script> 
<script src="/static/js/client-1.0.0.js"></script> 
{{if .IsLongPolling}}
<script src="/static/js/longpolling.js"></script>
{{end}}
{{if .IsWebSocket}}
<script src="/static/js/websocket.js"></script>
{{end}}