
<div data-role="page" data-theme="b">
  <div data-role="header">
    <h1>人在江湖</h1>
  </div>
<style>
.anchorBL{
    display:none;
}
</style>
<!--=========游戏界面 ==== start -->
<div data-role="content" id="main_div_game"  style="display:none;">
    <!--div id="allmap"></div-->
</div>
<div data-role="content" id="main_div_vir_maping"  ><!--style="display:none;">-->
    <div data-role="main" class="ui-content">
    
	<h2>你遇到了：</h2>	
    <ul data-role="listview" data-inset="true">
      	<li data-icon="false"><a href="#"><img src="/static/img/us.png"  class="ui-li-icon">曲靈風</a></li>
      	<li><a href="#"><img src="/static/img/gb.png" alt="Great Britain" class="ui-li-icon">梅超風</a></li>
      	<li><a href="#"><img src="/static/img/finland.png" alt="Finland" class="ui-li-icon">封魔風</a></li>
      	<li><a href="#"><img src="/static/img/germany.png" alt="Germany" class="ui-li-icon">少林第六代弟子：澄心</a></li>
      	<li><a href="#"><img src="/static/img/france.png" alt="France" class="ui-li-icon">打手</a></li>
    </ul>
	
    <h2>行走方向：</h2>
	
    <ul data-role="listview" data-inset="true">
      	<li><a href="#" class="ui-btn ui-icon-arrow-u ui-btn-icon-left"><text>北：</text>邻水小桥</a></li>
      	<li><a href="#" class="ui-btn ui-icon-arrow-l ui-btn-icon-left"><text>西：</text>郭家宅</a></li>
      	<li><a href="#" class="ui-btn ui-icon-arrow-r ui-btn-icon-left"><text>东：</text>杨家老宅</a></li>
      	<li><a href="#" class="ui-btn ui-icon-arrow-d ui-btn-icon-left"><text>南：</text>曲灵风家</a></li>
    </ul>
  	</div>
</div>
<!--=========游戏界面 ==== end -->

  <div data-role="footer">
    <h1 style="font-family:kaiti">人在江湖，身不由己</h1>
  </div>
</div> 